# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
.DEV/Client-Side_Mermaid_Repair_Architecture.m4a
.DEV/Technical Retrospective_ Developing the Mermaid PR Extractor Prototype (v0.1.0).md
.DEV/The_Mermaid_PR_Extractor.mp4
.DEV/Visualizing the Invisible_ 5 Surprising Insights from the Mermaid PR Extractor.md
/node_modules